<?xml version="1.0" encoding="utf-8"?><!--
  ~ Created by Mohamed Bushra on 20/02/17 14:40
  ~ Copyright (c) 2017. All rights reserved.
  ~
  ~ Last Modified 20/02/17 14:39.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.brunel.tunel">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tunellogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        //The 1st activity shows the splash screen
        <activity
            android:name=".activity.SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="uk.ac.brunel.tunel.activity.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        //The 2nd activity takes you to the main screen where you can
        //choose to sign in on register as a new user
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.SignInActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.UserProfileActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.ResetPassActivity"></activity>
    </application>

</manifest>